{% extends "index.html" %}

{% block content %}
<a href="{{url_for('new_film')}}">New Film</a>
<table>
    <tr>
        <th>Title</th>
        <th>Year</th>
        <th>Genre</th>
        <th>Last Update</th>
        <th>Have it?</th>
        <th>Who has it?</th>
    </tr>
    {% for film in films %}
    <tr>
        <td>{{film.title}}</td>
        <td>{{film.year}}</td>
        <td>{% for genre in film.genres %}{{ genre.genre }} {% endfor %}</td>
        <td>{{film.updated}}</td>
        <td><a href="{{url_for('edit_film_own', filmid=film.id)}}">
                {% if g.user.has_film(film) %}i don't have it{%else%}i have it{%endif%}</a></td>
        <td><a href="{{url_for('user_list', filmid=film.id)}}">Who has it?</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
