{% extends "index.html" %}

{% block content %}
<h1>{{caption}}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.genre.label }}: {{ form.genre(size=40) }}
    {% if form.genre.errors %}
    <ul class="error">
        {% for error in form.genre.errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </p>
    <p><input type="submit" value="Save"></p>
</form>
{% endblock %}
