{% extends "index.html" %}

{% block content %}
<a href="{{url_for('new_genre')}}">New Genre</a>
<table>
    <tr>
        <th>Genre</th>
    </tr>
    {% for genre in genres %}
    <tr>
        <td>{{genre.genre}} - 
            <a href="{{url_for('edit_genre', id=genre.id)}}">Edit</a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
