{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form action="{{url_for('movie_search')}}" method="get" role="form" class="form-inline">
        <div class="form-group">
            {{ form.q.label(class="sr-only") }}
            {{ form.q(class="form-control",
            placeholder=form.q.label.text)}}
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% if caption %}<div
        class="page-header"><h1>{{caption}}</h1></div>{%endif%}
    {% include "movie_list.html" %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{{url_for('static',
    filename='js/mycollection.js')}}"></script>
<script type="text/javascript">
    toggle_film({'haveit-pred': 'have',
                 'wantit-pred': 'want',
                 'download-pred': 'download',
                 'haveit-class': 'haveit',
                 'wantit-class': 'wantit',
                 'download-class': 'download',
                 'yes-text': 'Yes',
                 'no-text': 'No'});
</script>
{% endblock %}
