{% extends "base.html" %}


{% block body %}
<div id="wrap">
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="">My Film Collection</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                {% for menu in g.menus %}
                    <li><a href="{{menu.url}}">{{menu.title}}</a></li>
                {% endfor %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{url_for('user_movie_list',
                        user_id=g.user.id)}}">{{g.user.fullname}}</a></li>
                    <li><a href="{{url_for('logout')}}">Logout</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
