{% extends "base.html" %}

{% block style %}
<style type="text/css">
    body { padding-top: 40px; }
    button[type=submit] { border: 0; padding: 0; background-color: transparent;}
    div.container { margin: 0 auto; padding-top: 20px; }
    div.container div.row { height: auto }
</style>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-offset-3">
            <h1>Please Sign In</h1>
            {% for provider in providers %}
            <form action="" method="post" role="form">
                <input type="hidden" name="openid" value="{{ provider.url }}">
                <button type="submit"><img src="{{provider.img}}"></button>
            </form>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
