{% extends "base.html" %}

{% block style %}
<style type="text/css">
    div.container { padding-top: 40px; }
    h1 { text-align: center; }
</style>
{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-offset-3">
            <h1>You've been logged out!</h1>
            <div class="alert alert-info">
                Click <a href="{{url_for('login')}}" class="alert-link">here</a> to login back
            </div>
        </div>
    </div>
</div>

{% endblock %}
