{% if pagination %}
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        {{ pagination.info|safe }}
        {{ pagination.links|safe }}
    </div>
</div>
{% endif %}
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Tomatoes Rating</th>
            <th>Audience Rating</th>
            <th>Have it</th>
            <th>Want it</th>
            <th>Downloading</th>
        </tr>
    </thead>
    <tbody>
    {% for movie in movies %}
        <tr>
            <td><a href="{{url_for('movie_detail',
                    movie_id=movie.id)}}">{{movie.title}}</a></td>
            <td>{{movie.year}}</td>
            <td>{{movie.ratings.critics_score}} %</td>
            <td>{{movie.ratings.audience_score}} %</td>
            {% if movie.haveit %}
                {% set haveit = "Yes" %} 
            {% else %}
                {%set haveit = "No" %}
            {% endif %}
            {% if movie.wantit %}
                {% set wantit = "Yes" %} 
            {% else %}
                {%set wantit = "No" %}
            {% endif %}
            {% if movie.download%}
                {% set download = "Yes" %} 
            {% else %}
                {%set download = "No" %}
            {% endif %}

            <td><a href="#" class="haveit" id="have-{{movie.id}}"
                    data-url="{{url_for('haveit',
                    movie_id=movie.id)}}">{{haveit}}</a></td>
            <td><a href="#" class="wantit" id="want-{{movie.id}}"
                    data-url="{{url_for('wantit',
                    movie_id=movie.id)}}">{{wantit}}</a></td>
            <td><a href="#" class="download" id="download-{{movie.id}}"
                    data-url="{{url_for('download',
                    movie_id=movie.id)}}">{{download}}</a></td>
        </tr>
    {% endfor %}
        </tbody>
    </tbody>
</table>
{% if pagination %}
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        {{ pagination.info|safe }}
        {{ pagination.links|safe }}
    </div>
</div>
{% endif %}
