{% extends "index.html" %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title">{{movie.title}}</h1>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-3">
                <img src="{{movie.posters.detailed}}">
            </div>
            <div class="col-md-9 col-offset-md-3">
                <dl class="dl-horizontal">
                    <dt>Year</td>
                    <dd>{{movie.year}}</dd>
                    <dt>Rotten Tomatoes</dt>
                    <dd>{{movie.ratings.critics_score}}%</dd>
                    <dt>Audience</dt>
                    <dd>{{movie.ratings.audience_score}}%</dd>
                    <dt>Genres</dt>
                    <dd>{{movie.genres|join(', ')}}</dd>
                    <dt>Runtime</dt>
                    <dd>{{movie.runtime}} min.</dd>
                    <dt>Consesus</dt>
                    <dd>{{movie.critics_consensus}}</dd>
                    <dt>Who has it</dt>
                    <dd>{% for user in movie.have %}<a
                        href="{{url_for('user_movie_list', user_id=user.id)}}">{{user.fullname}}</a> {% endfor %}</dd>
                    <dt>Who wants it</dt>
                    <dd>{% for user in movie.want %}<a
                        href="{{url_for('user_movie_list', user_id=user.id)}}">{{user.fullname}}</a> {% endfor %}</dd>
                    <dt>Who downloads it</dt>
                    <dd>{% for user in movie.download %}<a
                        href="{{url_for('user_movie_list', user_id=user.id)}}">{{user.fullname}}</a> {% endfor %}</dd>
                    {% if movie.haveit %}
                    {% set haveit="Yes" %}
                    {% else %}
                    {% set haveit="No" %}
                    {% endif %}

                    {% if movie.wantit %}
                    {% set wantit="Yes" %}
                    {% else %}
                    {% set wantit="No" %}
                    {% endif %}

                    {% if movie.downloadit %}
                    {% set download="Yes"%}
                    {% else %}
                    {% set download="No" %}
                    {% endif %}

                    <dt>Have it</dt>
                    <dd><a href="#" class="haveit" id="have-{{movie.id}}"
                        data-url="{{url_for('haveit',
                        movie_id=movie.id)}}">{{haveit}}</a></dd>
                    <dt>Want it</dt>
                    <dd><a href="#" class="wantit" id="want-{{movie.id}}"
                        data-url="{{url_for('wantit',
                        movie_id=movie.id)}}">{{wantit}}</a></dd>
                    <dt>Download</dt>
                    <dd><a href="#" class="download" id="download-{{movie.id}}"
                        data-url="{{url_for('download',
                        movie_id=movie.id)}}">{{download}}</a></dd>
                </dl>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script src="{{url_for('static',
    filename='js/mycollection.js')}}"></script>
<script type="text/javascript">
    toggle_film({'haveit-pred': 'have',
                 'wantit-pred': 'want',
                 'download-pred': 'download',
                 'haveit-class': 'haveit',
                 'wantit-class': 'wantit',
                 'download-class': 'download',
                 'yes-text': 'Yes',
                 'no-text': 'No'
                 });
</script>
{% endblock %}
