{% extends "index.html" %}

{% block content %}
<h1>{{caption}}</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>{{ form.title.label }}: {{ form.title(size=100) }}
    {% if form.title.errors %}
    <ul class="error">
        {% for error in form.title.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </p>
    <p>{{ form.year.label }}: {{ form.year(size=40) }}
    {% if form.year.errors %}
    <ul class="error">
        {% for error in form.year.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </p>
    <p>{{ form.genres.label }}: {{ form.genres(size=10) }}
    {% if form.genres.errors %}
    <ul class="error">
        {% for error in form.genres.errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    </p>

    <p><input type="submit" value="Save"></p>
</form>
{% endblock %}
