{% extends "layout.html" %}

{% block content %}
<div class="container">
    <form action="{{url_for('user_list')}}" method="get" role="form" class="form-inline">
        <div class="form-group">
            {{ form.q.label(class="sr-only") }}
            {{ form.q(class="form-control",
            placeholder=form.q.label.text)}}
        </div>
        <button type="submit" class="btn btn-primary">Search</button>
    </form>
    {% if pagination %}
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            {{ pagination.info|safe }}
            {{ pagination.links|safe }}
        </div>
    </div>
    {% endif %}
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>User</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{url_for('user_movie_list', user_id=user.id)}}">
                        {{user.fullname}}{%if user.nickname is not none
                        -%} ({{user.nickname}}){%- endif %}</a></td>
                <td>{{user.email}}</td>
            </tr>
        {% endfor %}
            </tbody>
        </tbody>
    </table>
    {% if pagination %}
    <div class="row">
        <div class="col-md-4 col-md-offset-8">
            {{ pagination.info|safe }}
            {{ pagination.links|safe }}
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}
